<div class="row">
    <% if (playlist.length > 0) {%>
        <div class="card my-4">
            <h5 class="card-header">
                Playlist
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                            <% playlist.forEach (item => { %>
                                <li class="d-flex mb-3">
                                    <a href="/playlist/<%= playlistId + "/" + item.watch %>">
                                        <img src="<%= baseUrl + item.thumbnail %>" class="related__videosImage" alt="">
                                    </a>
                                    <div class="ml-3">
                                        <h6>
                                            <a href="/playlist/<%= playlistId + "/" + item.watch %>" style="text-decoration:none;color:black;"><%= item.title %></a>
                                        </h6>
                                        <% if (item.watch == video.watch) { %>
                                            <small class="text-danger font-weight-bold">Playing now....</small>
                                        <% } %>
                                    </div>
                                </li>
                            <% }) %> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
</div>

<div class="row">
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled mb-0">
                        <% tags = video.tags.split(",");
                            tags.forEach(tag => { tag = tag.trim(); %>
                        
                        <li><a href="/tag_search/<%= tag %>"><%= tag %></a></li>
                        <% }) %> 
                                
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <%- include ("related-videos") %> 
</div>